html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: 'Inter', sans-serif;
    line-height: 130%;
    font-weight: 500;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #151515;
    color: #fff;
}

.header-main {
    background-color: transparent;
}

.container {
    background-color: inherit;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px
}

ul {
    list-style-type: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-size: 24px;
}

.menu-points{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main {
    flex-grow: 1;
    padding: 100px 40px 0px 40px;
    background: #151515;
}

.main-list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 40px
}   

.main-title {
    border: 1px solid white;
    text-align: center;
    font-size: 36px;
    background: -webkit-linear-gradient(#f9f, #eca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-title2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.fade {
    transition: background-color 0.3s ease-in-out;
  }
  

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu-list {
    max-width: 200px;
}

.footer-menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 30px;
}

.footer-menu-item + .footer-menu-item {
    padding-top: 10px;
    font-size: 18px;
}

.app-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}


.app-item-img {
    width: 200px;
}


.footer-copy {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center;
}

.copy-nav-list {
    font-size: 14px;
    display: flex;
    gap: 40px;
    justify-content: center;
}

